

<footer>
    <div class="icon">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
    <div class="footer-nav">
        <a href="#">Profile</a>
        <a href="#">Skills</a>
        <a href="#">Experiences</a>
        <a href="#">Educations</a>
        <a href="#">Projects</a>
        <a href="#">Contacts</a>
    </div>
    <p>Amadou oury Diallo 2024</p>
</footer>
</body>
</html>