<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
     <!-- navigation bar -->
    <div class="navbar">
        <h1 class="logo">Logo</h1>
        <div class="nav" id="myTopnav">
            <a href="/">Profile</a>
            <a href="/skills">Skills</a>
            <a href="/experience">Experiences</a>
            <a href="/education">Educations</a>
            <a href="/project">Projects</a>
            <a href="/contact">Contacts</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>