<%- include('partials/header'); -%>

    <main>
        <div class="experience">
            <h2>PROFESSIONAL EXPERIENCE</h2>
            <div class="box-exp">
                <div class="h-exp">
                    <p><strong>TRANSLATOR</strong> - <i>French, Russian and Ukrainian translator ADEFO ( Jun. 2022 - sep.2023 ) France / Dijon</i></p>
                </div>
                <div class="content-exp">
                    <p> Written and oral traslation servides for Ukrainian speakers.</p>
                    <p> Administrative support.</p>
                    <p> Updating the accommodation listings in the city of Dijon.</p>
                </div>
            </div>

            <div class="box-exp">
                <div class="h-exp">
                    <p><strong>RED CROSS VOLUNTEER</strong> - <i>Volunteer Red Cross Dijon/France (Feb. 2022 - Jun.2022) France / Dijon</i></p>
                </div>
                <div class="content-exp">
                    <p> Written and oral traslation servides for Ukrainian speakers.</p>
                    <p> Providing support to Ukrainian migrants and refugees, including reception, guidance, and integration assistance services.</p>
                    <p> Assisting in the management and operation of emergency shelters for displaced individuals from Ukraine.</p>
                </div>
            </div>

            <div class="box-exp">
                <div class="h-exp">
                    <p><strong>PYTHON DEVELOPER</strong> - <i>Data Analyst- Lohika ( May.2021 - feb.2022 ) Ukraine / Odessa</i></p>
                </div>
                <div class="content-exp">
                    <p> Leveraging and Integrating APIs - Openweathermap, twilio, Pixela etc..</p>
                    <p> Designing GUI applications with Tkinter.</p>
                    <p> Data anlysis using Pandas and NumPy.</p>
                    <p> Experience with bs4, Selenium WebDriver and Automating.</p>
                </div>
            </div>

            <div class="box-exp">
                <div class="h-exp">
                    <p><strong>INTERNSHIP IN WEB DEVELOPMENT</strong> - <i>web development – Admirals ( Sep.2020 - Mar.2021 ) Ukraine / Odessa</i></p>
                </div>
                <div class="content-exp">
                    <p>Contributing to the development of websites, applications, or specific features under the supervision of a team of developers.</p>
                    <p>Writing, testing, and debugging HTML, CSS, and JavaScript code following best coding practices.</p>
                    <p>Collaborating closely with other members of the development team, designers, and other stakeholders to understand project requirements.</p>
                    <p>Converting design mockups into functional code, ensuring accurate integration and optimal user experience.</p>
                    <p>Conducting unit tests and participating in the identification and resolution of issues and errors.</p>
                    <p>Keeping abreast of trends and technological advancements in the field of web development, and sharing this knowledge within the team.</p>
                    <p>Attending team meetings, presenting progress, asking questions, and learning from more experienced team members.</p>
                </div>
            </div>

            <div class="box-exp">
                <div class="h-exp">
                    <p><strong>PORTAL SORTING CLERK</strong> - <i>Postal sorting clerk ( Nov.2019 - jul.2020 ) Ukraine / Kharkiv</i></p>
                </div>
                <div class="content-exp">
                    <p> Sorting mail and packages based on their destination.</p>
                    <p> Ensuring that shipments are Correctly sorted for efficient delivery.</p>
                </div>
            </div>
        </div>
    </main>

<%- include('partials/footer'); -%>