<%- include('partials/header'); -%>

    <main>
        <div class="content-profile">
            <div class="profile">
                <h1>Amadou Oury Diallo</h1>
                <span bla>Front-End Developer</span>
            </div>
            <p>
                Passionate about web development for several years, I have honed my skills through a combination of academic experiences and personal projects.
                Holding a degree in computer science specialized in web development, l have built a strong foundation in programming languages such as HTML,CSS, 
                and JavaScript, as well as in utilizing frameworks like React, Bootstrap, and Express.js. My proactive approach and constant desire to stay abreast of 
                the latest technologies enable me to quickly adapt to new challenges. My goal is to actively contribute to exciting projects within a collaborative and innovative team.
            </p>
        </div>
        <div class="langue">
            <div class="bloc">
                <div class="bloc-1">
                    <h2>LANGUAGES</h2>
                    <div class="slide-left">
                        <p>English: Proficiency Level <br> French: Fluent <br> Russian: Fluent <br> Ukrainien: Fluent </p>
                    </div>
                </div>
                <div class="bloc-2">
                    <h2>INTERESTS</h2>
                    <div class="slide-left">
                        <p>Web Development <br> Technology conferences and events <br> Sport </p>
                    </div>
                </div>

            </div>
            
        </div>
    </main>

<%- include('partials/footer'); -%>
