<%- include('partials/header'); -%>

    <main>
        <div class="skills">
            <h2>Skills</h2>
            <p>Programming Languages: HTML, CSS, Bootstrap, JavaScript, Python, React <br>
                Frameworks: Express.js Node.js <br>
                Database: SQL, PostgreSQL <br>
                Development Tools: Git <br>
                Integration of third-party services (APIs)
            </p>
        </div>
        
    </main>

<%- include('partials/footer'); -%>
